= form_tag results_path, method: :get, role: 'search' do
  = text_field_tag :query, params[:query], placeholder: " Введите слово"
  = text_field_tag :start_date, params[:start_date], placeholder: " Начало", class: 'datetimepicker', id: 'date'
  = text_field_tag :end_date, params[:end_date], placeholder: " Конец", class: 'datetimepicker', id: 'date1'
  = submit_tag "Искать", name: nil, id: 'search_submit'
  .tags_radio
    - @tagview = Tag.all
    - @tagview.each do |tag|
      #margin.radio-inline
        = radio_button_tag :tag, tag.id
        = label_tag tag.name

