.nav.navbar.navbar-default
  .container
    .navbar-brand
      %li= link_to "Home page", root_path
    %ul.nav.navbar-nav.navbar-right
      - if signed_in?
        %li= link_to current_user.name.capitalize, user_path(current_user)
        %li= link_to "Sign out", signout_path, method: "delete"
      - else
        %li= link_to "Sign in", signin_path
        %li= link_to "Registration", new_user_path
