!!!
%html
  %head
    %title OnlineBlog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container-fluid
      = render 'layouts/header'
      .row-fluid
        .aside.col-sm-12.col-md-4.col-lg-3
          .row-fluid
            .col-sm-6.col-md-12
              .color
                .border
                  = render 'tags/show_tags_to_sidebar'
            .col-sm-6.col-md-12
              .color
                .border
                  = render 'categories/show_categories'
        .aside.col-sm-12.col-md-8.col-lg-9
          = render 'layouts/flash'
          .color
            .border
              = yield
              = debug(params) if Rails.env.development?
